  <header>
  <nav class="navbar bg-danger">
    <div class="container-fluid">
      <img src="https://i.ibb.co/6wpfqns/48dfe62d-2432-42d1-8c93-7922b42f75ae.jpg" alt="Logo Mini" class="img-fluid" style="max-height: 30px;">
      <a class="badge navbar-brand">Biblioteca Virtual BIBUJA
</a>
      <form class="d-flex" role="search">
        <button onclick="location.href='/'" type="button" class="badge  me-2 btn ">Inicio</button>
     
        <button onclick="location.href='/registro'"   type="button" class="badge me-2 btn ">Registro</button>
        <button onclick="location.href='/login'" type="button" class=" badge me-2 btn btn-outline-light text-bg-dark">Inicia Sesion</button>
      </form>
    </div>
  </nav>
</header>