<div class="deznav">
	<div class="deznav-scroll">
		<ul class="metismenu" id="menu">
			<li class="menu-title">Selecciona una opcion</li>
			<li><a href="/dashboardBibliotecario"><i class="fas fa-home"></i> Inicio</a></li>
			<li><a href="/ejemplaresLista"><i class="fas fa-book"></i> Lista de Ejemplares</a></li>
			<li><a href="/agregarEjemplar"><i class="fas fa-plus"></i> Agregar Ejemplar</a></li>
			<li><a href="/prestamos"><i class="fas fa-hand-holding"></i> Registrar Préstamo</a></li>
			<li><a href="/devoluciones"><i class="fas fa-undo"></i> Registrar Devolución</a></li>
		</ul>
	</div>
</div>